
*{
    background-color: #808080;
    padding: 0 auto;
    margin: 0;
    
}

body{
    
}

header.top-page{
    margin: 5px;
    
}

header.top-page div.header-content{
    background-color: #4C4C4C;
    border: 2px solid #191919;
    border-radius: 10px;
    display: flex;
    padding: 5px;
}
.header-content img{
    background-color: rgba(7, 7, 7, 0);
    width: 30px;
}
.header-bottom{
    background-color: rgba(107, 107, 107, 0.445);
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    text-align: center;

    height: 5vh;

}
.menu_nav{
    background-color: rgba(0, 0, 0, 0);
}

 .nav__link{
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);

}
.menu_nav ul, li {
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    padding: 5px;
}


a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    justify-content: center;
    padding: 5px;
    background-color: #b9b9b9;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn:hover{
    transform: scale(1.05);

}
.btn a{
    background-color: #19191900;
}

section.middle-page{
    margin: 0 auto;
    margin-top: 20px;
    background-image: url(../img/bg.png);
    background-color: #4C4C4C;
    border: 2px solid #191919;
    border-radius: 10px;
    padding: 5px;
    height: 100vh;
    display: flex;
 
}

header.top-page div.header-content h1{
    margin-left: 5px;
    background-color: #4C4C4C;
    
}

footer{
    text-align: center;
}
.item-panel{
    margin: 0 auto;
    background-color: rgba(7, 7, 7, 0.322);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
 }


.video-box{
    margin: 0 auto;
    border-radius: 3px;
    border-color: #191919;
    padding: 4px;
    background-color: #19191907;
}

.img-box{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2px;
    background-color: #19191900;

}
.box{
    background-size: cover;
    background-position: center;
    flex: 1;
    min-width: 150px;
    height: 75px;
    margin: 1px;


}

.img-item_1{
    background-image: url(../img/1.jpg);
}
.img-item_2{
    background-image: url(../img/2.jpg);
}
.img-item_3{
    background-image: url(../img/3.jpg);
}
.img-item_4{
    background-image: url(../img/4.jpg);
}
.img-item_5{
    background-image: url(../img/5.jpg);
}


.item-panel-footer{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
}
.item-panel-footer .btn_panel_footer_text a{
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    text-decoration: none;
}
.item-panel-footer img{
    background-color: rgba(0, 0, 0, 0.075);
    text-decoration: none;
    border: 2px solid #191919;
    border-radius: 50px;
    margin-right: 10px;
}
.btn_panel_footer_text{
    border: 2px solid #053358;
    border-radius: 50px;
    height: 5vh;
    background-color: #19191988;
    transition: 0.5s;
}
.btn_panel_footer_text:hover{
    transform: scale(1.05);
}

.right{
    background-color: rgba(106, 110, 108, 0.6);
    border-radius: 20px;
    padding: 3px;
    width: 20vh;
}

.logo-download{
    width: 35px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px;
}